.container {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

.label {
  display: flex;
  flex-direction: column;
  width: 400px;
  font-size: 18px;
  font-weight: 500;
}

.field {
  width: 400px;
  height: 25px;
  border-radius: 20px;
  text-align: center;
}
