.modal {
  background-color: #efefef;
  width: auto;
  height: auto;
  max-height: 800px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #827c6ef5;
  z-index: 150;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  display: flex;
  justify-content: center;
}

.text {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}

.form {
  font-size: 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 20px;
  align-items: center;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  text-align: center;
  width: 250px;
  height: 25px;
  border-radius: 20px;
}

.errorMessage {
  font-size: 24px;
}

.submitButton {
  width: 250px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton:hover,
.submitButton:focus {
  transform: scale(1.025);

  box-shadow: 0px 0px 6px 1px rgba(237, 235, 228, 1);

  border-color: black;
}

.closeButton {
  width: 250px;
  height: 50px;
  align-self: center;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton:hover,
.closeButton:focus {
  transform: scale(1.025);

  box-shadow: 0px 0px 6px 1px rgba(237, 235, 228, 1);
}
